.slider-main-section {
  .splide__track {
    @apply md:rounded-2xl overflow-hidden;
    
    > .splide__list {
      > .splide__slide {
        cursor: pointer;
      }
    }
  }
}

.slider-thumbails-section {
  @apply hidden md:block;

  .splide__track--nav {
    > .splide__list {
      > .splide__slide {
        &:last-child {
          margin-right: 0 !important;
        }

        @apply border-2 border-white rounded-xl relative;

        &:after {
          content: "";
          @apply absolute left-0 top-0 right-0 bottom-0 rounded-[9px] transition-all;
        }

        &:hover {
          &:after {
            background-color: rgba(255, 255, 255, 0.5);
          }
        }

        &.is-active {
          @apply border-tertiary;

          &:after {
            background-color: rgba(255, 255, 255, 0.75);
          }
        }
      }
    }
  }
}

.splide__arrow {
  @apply bg-white opacity-100 w-10 h-10 md:w-14 md:h-14 #{!important};

  svg {
    @apply w-4 h-4 #{!important};
  }
}

.slider-modal {
  .splide__arrow {
    &:hover {
      svg {
        @apply fill-tertiary;
      }
    }
  }

  .splide__arrow--prev {
    left: -1.5rem;
  }

  .splide__arrow--next {
    right: -1.5rem;
  }

  .slider-main-section {
    .splide__track {      
      > .splide__list {
        > .splide__slide {
          cursor: default;
        }
      }
    }
  }

  .slider-thumbails-section {  
    .splide__track--nav {
      > .splide__list {
        justify-content: center;
      }
    }
  }
}